.profile__further {
    margin: 0;
    max-width: 336px;
    font-family: "Inter", "sans-serif";
    color: #FFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    padding-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__further {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        padding-top: 14px;
        padding-bottom: 36px;
        text-align: center;
    }
}