.info-tooltip__text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    margin-top: 32px;
    margin: 0;
    margin: 32px 36px 60px;
    padding: 0;
    color: #000;
}